<header class="header">
  <div class="header__title">
    <h2>TODO List</h2>

    <button mat-icon-button>
      <mat-icon (click)="changeThemeMode()">
        {{ themeMode ? "dark_mode" : "light_mode" }}
      </mat-icon>
    </button>
  </div>

  <app-search (search)="searchTask($event)"></app-search>
</header>

<main class="main mat-typography">
  <mat-list
    role="list"
    class="list"
    *ngIf="($list | async).length; else emptyList"
  >
    <app-task
      class="task"
      *ngFor="let task of $list | async"
      [task]="task"
      (remove)="removeTask($event)"
      (edit)="editTask($event)"
      (done)="doneTask($event)"
    ></app-task>
  </mat-list>

  <ng-template #emptyList>
    <div class="empty">
      <h2 class="title">
        {{ search ? "No matches" : "The todo-list is empty" }}
      </h2>
    </div>
  </ng-template>
</main>

<div class="text-center">
  <button mat-fab color="primary" (click)="addTask()">
    <mat-icon> add </mat-icon>
  </button>
</div>

<ng-template #deleteConfirm>
  <h3 mat-dialog-title>Do you want to delete a task?</h3>
  <div mat-dialog-content>
    <button mat-raised-button color="warn" [mat-dialog-close]="true">
      Delete
    </button>
    <button mat-button [mat-dialog-close]="false">Cancel</button>
  </div>
</ng-template>
